instances.spandex {
  secondaryType = spandex
  numWorkers = {{ SPANDEX_SECONDARY_NUM_WORKERS }}
  config.elastic-search {
    host = "{{ SPANDEX_SECONDARY_ES_HOST }}"
    port = "{{ SPANDEX_SECONDARY_ES_PORT }}"
    cluster-name = "{{ SPANDEX_SECONDARY_ES_CLUSTER_NAME }}"
  }
}
