com.socrata.spandex {
  log4j.rootLogger = [ {{ LOG_LEVEL }}, console ]
}

instances.{{ SPANDEX_SECONDARY_TYPE }} {
  secondaryType = spandex
  numWorkers = {{ SPANDEX_SECONDARY_NUM_WORKERS }}
  config.analysis {
    max-input-length = {{ SPANDEX_SECONDARY_ANALYSIS_MAX_INPUT_LENGTH }}
    max-shingle-length = {{ SPANDEX_SECONDARY_ANALYSIS_MAX_SHINGLE_LENGTH }}
  }
  config.elastic-search {
    host = "{{ SPANDEX_SECONDARY_ES_HOST }}"
    port = "{{ SPANDEX_SECONDARY_ES_PORT }}"
    cluster-name = "{{ SPANDEX_SECONDARY_ES_CLUSTER_NAME }}"
    index = "{{ SPANDEX_SECONDARY_ES_INDEX_ALIAS }}"
    data-copy-batch-size = {{ SPANDEX_SECONDARY_DATA_COPY_BATCH_SIZE }}
    data-copy-timeout = {{ SPANDEX_SECONDARY_DATA_COPY_TIMEOUT }}
  }
}
