instances.{{ SPANDEX_SECONDARY_TYPE }} {
  secondaryType = spandex
  numWorkers = {{ SPANDEX_SECONDARY_NUM_WORKERS }}

  config.elastic-search {
    host = "{{ SPANDEX_SECONDARY_ES_HOST }}"
    port = "{{ SPANDEX_SECONDARY_ES_PORT }}"
    cluster-name = "{{ SPANDEX_SECONDARY_ES_CLUSTER_NAME }}"
    index = "{{ SPANDEX_SECONDARY_ES_INDEX_ALIAS }}"
    data-copy-batch-size = {{ SPANDEX_SECONDARY_DATA_COPY_BATCH_SIZE }}
    data-copy-timeout = {{ SPANDEX_SECONDARY_DATA_COPY_TIMEOUT }}
  }
}
